# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Odoo specific
*.log
*.pot
*.pyc 
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/kb_medical_record.cpython-312.pyc
models/__pycache__/
models/__pycache__/kb_medical_record.cpython-312.pyc
models/__pycache__/kb_medical_history.cpython-312.pyc
models/__pycache__/kb_medical_record.cpython-312.pyc
